*
{
    box-sizing: border-box;

    /*MAIN FONTS*/
    --main-font-ligth: InterL;
    --main-font-medium: InterM;
    --main-font-regular: InterR;
    --main-font-bold: InterB;

    /*COLOR SCHEME*/
    --color-background: #F1F1EF;
    --color-text: #000000;
    --color-side-text: #8A8A8A;


}

body *
{
    margin: 0;
    font-family: var(--main-font-medium);
    font-size: 12px;
    background-color: var(--color-background);
    color: var(--color-text);
}


@media  (min-width: 992px) {
    body *
    {
    font-size: 16px;
    }
}